.info_on_writers {
    
    margin-top: 10px;
    margin-left: 20px;
    
    border: #e7e7e7;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
}

.image {
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    border: #e7e7e7;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    
}

.navbartext {
    
    color: black;
    
}

.link {
    
    color: green;
    
}

.header {
    
    margin-top: 10px;
    border: green;
    border-width: 2px;
    border-style: solid;
    
    background-color: green;
    
}

.header-text {
    
    color: white;
    padding-left: 15px;
    
}

.text-finetune {
    
    margin-top: 10px;
    margin-left: 20px;
    
    border: #e7e7e7;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
    
}

.video {
    
    padding-left: 10px;
    
}

body {
 

    
}